apiVersion: apps/v1
kind: Deployment
metadata:
  name: audit-service
  namespace: finops-bank
  labels:
    app: audit-service
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audit-service
  template:
    metadata:
      labels:
        app: audit-service
        tier: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8082"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
      - name: audit-service
        image: finops/audit-service:latest
        imagePullPolicy: IfNotPresent
        env:
        - name: SERVER_PORT
          value: "8080"
        - name: MANAGEMENT_SERVER_PORT
          value: "8082"
        - name: SPRING_CLOUD_AWS_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: finops-config
              key: AWS_ENDPOINT_URL
        - name: SPRING_CLOUD_AWS_REGION_STATIC
          value: "us-east-1"
        - name: SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY
          value: "test"
        - name: SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY
          value: "test"
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
        - containerPort: 8082