server:
  port: 8081

spring:
  application:
    name: audit-service

  cloud:
    aws:
      sqs:
        enabled: true
        endpoint: http://localhost:4566
      dynamodb:
        enabled: true
        endpoint: http://localhost:4566
        region: us-east-1
      region:
        static: us-east-1
      credentials:
        access-key: test
        secret-key: test

app:
  messaging:
    queue-name: finops-audit-queue

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
