apiVersion: v1
kind: Service
metadata:
  name: credit-risk-service
  namespace: finops-bank
spec:
  selector:
    app: credit-risk-service
  ports:
  - port: 9090
    targetPort: 9090
    name: grpc
    protocol: TCP
  - port: 8080
    targetPort: 8080
    name: http