apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: finops-bank
  labels:
    app: auth-service
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
        version: v1
      annotations:
        sidecar.istio.io/inject: "true"
    spec:
      containers:
      - name: auth-service
        image: ghcr.io/ivanoliveraprofesional-code/auth-service:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: SERVER_PORT
          value: "8080"
        - name: SPRING_DATASOURCE_USERNAME
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: DB_USERNAME
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: DB_PASSWORD
        - name: SPRING_DATASOURCE_URL
          valueFrom:
            configMapKeyRef:
              name: finops-config
              key: SPRING_DATASOURCE_URL_AUTH
        - name: JWT_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: JWT_PRIVATE_KEY
        - name: JWT_PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: JWT_PUBLIC_KEY
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"