apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-script
  namespace: finops-bank
data:
  init.sql: |
    -- 1. Create Logical Databases
    CREATE DATABASE finops_auth;
    CREATE DATABASE finops_core;

    -- 2. Create Users
    CREATE USER finops_app_user WITH ENCRYPTED PASSWORD 'app_password_placeholder';
    CREATE USER finops_viewer WITH ENCRYPTED PASSWORD 'viewer_password_placeholder';

    -- 3. Grant Permissions
    GRANT ALL PRIVILEGES ON DATABASE finops_auth TO finops_app_user;
    GRANT ALL PRIVILEGES ON DATABASE finops_core TO finops_app_user;
    
    GRANT CONNECT ON DATABASE finops_core TO finops_viewer;